[Unit]
Description=Glitch R5U Control Center Daemon (Rust + Slint)
After=graphical-session.target default.target
PartOf=graphical-session.target

[Service]
ExecStart=/home/ggonlinux/.local/bin/glitch-r5u
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
WantedBy=graphical-session.target
